html, body {
  width: 100vw;
  height: 100%;
}

.container {
  display: flex;
  background-color: #e1e1e1;
  width: 100%;
  max-width: 320px;
  margin: 0px auto;
  flex-direction: column;
  border: 1px solid #000;
}

.cinza {
  padding: 40px;
  background-color: white;
  opacity: 50;
}
.preto {
  background-color: #2d2d2d;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bnt {
  background-color: black;
  color: snow;
  height: 30px;
  width: 50px;
  margin: 20px auto;
  cursor: pointer;
}

.teclado2 {
  font-size: 11px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  bottom: 20px;
  left: 5px;
  padding: 40px;
  background-color: #2d2d2d;
}

.teclado2 button {
  cursor: pointer;
}

.branco {
  height: 30px;
  width: 50px;
}
.laranja {
  height: 30px;
  width: 50px;
  background-color: #e67401;
  margin-left: 40px;
}
.verde {
  height: 30px;
  width: 50px;
  margin-left: 40px;
  background-color: green;
}

#voto-formulario  input{
  width: 30px;
  height: 50px;
  text-align: center;
  font-size: 20px;
}